
<div class=question-coach>
<%= @question %>
<p class=signature>-You</p>
</div>

<div class=answer-coach>
<%= @answer %>
<p class=signature>-Your coach</p>
</div>


<div class=again>
<%= link_to "Ask a new question", ask_path %>
</div>
